{# Usage: {% set checklistData = {title, items} %}{% include "components/checklist.njk" %} #}
{%- if checklistData %}
<div class="checklist">
  <h2 class="checklist__title">{{ checklistData.title }}</h2>
  <ul class="checklist__list">
    {%- for item in checklistData.items %}
    <li>{{ item }}</li>
    {%- endfor %}
  </ul>
</div>
{%- endif %}
