{# Usage: {% set testimonialId = "jones" %}{% include "components/testimonial.njk" %} #}
{%- set t = testimonials[testimonialId] %}
{%- if t %}
<section class="testimonial" aria-label="Client testimonial">
  <div class="container testimonial__inner">
    <figure class="testimonial__figure">
      <blockquote class="testimonial__quote">
        <p>“{{ t.quote }}”</p>
      </blockquote>
      <figcaption class="testimonial__cite"><cite>{{ t.cite }}</cite></figcaption>
    </figure>
  </div>
</section>
{%- endif %}
